@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-2xl font-bold;
}
h4 {
  @apply text-xl font-bold;
}
h5 {
  @apply text-base font-bold;
}

.links > a {
  @apply hover:no-underline space-x-5;
}

.activeLink {
  @apply block bg-gray-900 text-white rounded-md text-sm font-medium hover:no-underline;
}

.overlay {
  background-color: #000;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.bg-cover {
  background-image: url("./assets/images/ottawa.jpg");
  background-size: cover;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  margin: 0px;
}

.list li {
  @apply py-2 px-3 rounded-lg transition duration-300 ease-out cursor-pointer;
}

.list li:hover {
  @apply py-2 px-3 bg-indigo-100 transition duration-300 ease-in-out text-gray-700;
}
